<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.example.Cinecenta</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cinecenta</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nflx</string>
		<string>primevideo</string>
		<string>disneyplus</string>
		<string>hulu</string>
		<string>hbomax</string>
		<string>max</string>
		<string>paramountplus</string>
		<string>peacock</string>
		<string>crave</string>
		<string>appletv</string>
		<string>com.apple.tv</string>
		<string>plex</string>
		<string>criterionchannel</string>
		<string>mubi</string>
		<string>shudder</string>
		<string>tubitv</string>
		<string>kanopy</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.latenightsw.Cinecenta.refresh</string>
	</array>
</dict>
</plist>
